<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pricing.css">
    <title>Test Page</title>
</head>

<body>
    <section id="pricing-container">

        <div id="pricing-switch">
            <h2>Choose a plan</h2>
            <span class="switch-label switch-label-monthly active">Monthly</span>
            <label class="switch" id="">
                <input type="checkbox" checked="checked">
                <span class="slider"></span>
            </label>
            <span class="switch-label switch-label-yearly ">Yearly </span>

            <div class="save-money--mobile">Save 10% on Yearly Plans</div>

        </div>
        <!-- end of pricing-switch -->

        <div id="pricing-cards">

            <!-- ============================= -->
            <!-- = Premium Subscription Card = -->
            <!-- ============================= -->
            <div class="price-card">

                <div class="price-card--header">
                    <h4>Premium</h4>
                    <!-- <p>for growing your business</p> -->
                </div>

                <div class="price-card--price">
                    <div class="price-card--price-text">
                        <div class="price-card--price-number toggle-price-content odometer" data-price-monthly="2,499"
                            data-price-yearly="2,250">2,250</div>
                    </div>
                    <div class="price-card--price-conditions">
                        <div class="toggle-price-content" data-price-monthly="Billed Monthly"
                            data-price-yearly="Billed Annually">Billed Annually</div>

                    </div>
                </div>



                <div class="price-card--features">

                    <ul class="price-card--features--list">
                        <li class="price-card--features--item has-tooltip">Sales & Marketing Platform
                            <div class="tooltip-container"><strong>Sales & Marketing Platform</strong>
                                <p>Vendasta's end-to-end sales solution for companies that serve local businesses, and
                                    want to grow digital revenue.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Snapshot & Campaigns
                            <div class="tooltip-container"><strong>Snapshot & Campaigns</strong>
                                <p>Access to award-winning automated needs-assessment and email marketing automation.
                                    Unlimited emails sent to unlimited accounts.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Marketplace
                            <div class="tooltip-container"><strong>Marketplace</strong>
                                <p>Access to world-class resellable products & services, aimed to fulfilling the digital
                                    marketing needs of your small & medium sized business clients.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Business Center & Store
                            <div class="tooltip-container"><strong>Business Center & Store</strong>
                                <p>Portal for your local business clients, featuring your agency’s branding. They can
                                    access the products purchased from your Marketplace.</p>
                            </div>
                        </li>

                        <li class="price-card--features--item has-tooltip">Tech support
                            <div class="tooltip-container"><strong>Tech support</strong>
                                <p>Phone, Email and Web Chat support, <br />9am-9pm EST Mon-Fri, <br />2pm-7pm EST
                                    Sat-Sun</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Partner Success Manager
                            <div class="tooltip-container"><strong>Partner Success Manager</strong>
                                <p>One-on-one with a Vendasta Success Manager, who will provide sales training so you
                                    reach your goals quickly.</p>
                            </div>
                        </li>


                    </ul>
                    <button class="btn">Get started</button>
                </div>

                <div class="price-card--mobile-features-toggle"></div>

            </div>
            <!-- End of Card -->

            <!-- ================================ -->
            <!-- = Enterprise Subscription Card = -->
            <!-- ================================ -->
            <div class="price-card price-card--hero">

                <div class="price-card--header">
                    <h4>Enterprise</h4>

                </div>
                <div class="price-card--hero-text">
                    Most Popular Plan
                </div>

                <div class="price-card--price">
                    <div class="price-card--price-text">
                        <div class="price-card--price-number toggle-price-content odometer" data-price-monthly="999"
                            data-price-yearly="900">900</div>
                    </div>
                    <div class="price-card--price-conditions">
                        <div class="toggle-price-content" data-price-monthly="Billed Monthly"
                            data-price-yearly="Billed Annually">Billed Annually</div>

                    </div>
                </div>

                <div class="price-card--features">
                    <ul class="price-card--features--list">

                        <li class="price-card--features--item has-tooltip">Sales & Marketing Platform
                            <div class="tooltip-container"><strong>Sales & Marketing Platform</strong>
                                <p>Vendasta's end-to-end sales solution for companies that serve local businesses, and
                                    want to grow digital revenue.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Snapshot & Campaigns
                            <div class="tooltip-container"><strong>Snapshot & Campaigns</strong>
                                <p>Access to award-winning automated needs-assessment and email marketing automation.
                                    Unlimited emails sent to unlimited accounts.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Marketplace
                            <div class="tooltip-container"><strong>Marketplace</strong>
                                <p>Access to world-class resellable products & services, aimed to fulfilling the digital
                                    marketing needs of your small & medium sized business clients.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Business Center & Store
                            <div class="tooltip-container"><strong>Business Center & Store</strong>
                                <p>Portal for your local business clients, featuring your agency’s branding. They can
                                    access the products purchased from your Marketplace.</p>
                            </div>
                        </li>

                        <li class="price-card--features--item has-tooltip">Tech support
                            <div class="tooltip-container"><strong>Tech support</strong>
                                <p>Phone, Email and Web Chat support, <br />9am-9pm EST Mon-Fri, <br />2pm-7pm EST
                                    Sat-Sun</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Partner Success Manager
                            <div class="tooltip-container"><strong>Partner Success Manager</strong>
                                <p>One-on-one with a Vendasta Success Manager, who will provide sales training so you
                                    reach your goals quickly.</p>
                            </div>
                        </li>


                    </ul>
                    <button class="btn-pro">Get started</button>
                </div>

                <div class="price-card--mobile-features-toggle"></div>

            </div>

            <div class="price-card">

                <div class="price-card--header">
                    <h4>Basic</h4>

                </div>

                <div class="price-card--price">
                    <div class="price-card--price-text only-yearly">
                        <div class="price-card--price-number odometer">249</div>
                        <div class="only-yearly--text"><span>Only Available Yearly</span></div>
                    </div>
                    <div class="price-card--price-conditions">
                        <div>Billed Annually</div>

                    </div>
                </div>



                <div class="price-card--features">
                    <ul class="price-card--features--list">

                        <li class="price-card--features--item has-tooltip">Sales & Marketing Platform
                            <div class="tooltip-container"><strong>Sales & Marketing Platform</strong>
                                <p>Vendasta's end-to-end sales solution for companies that serve local businesses, and
                                    want to grow digital revenue.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Snapshot & Campaigns
                            <div class="tooltip-container"><strong>Snapshot & Campaigns</strong>
                                <p>Access to award-winning automated needs-assessment and email marketing automation.
                                    Unlimited emails sent to unlimited accounts.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Marketplace
                            <div class="tooltip-container"><strong>Marketplace</strong>
                                <p>Access to world-class resellable products & services, aimed to fulfilling the digital
                                    marketing needs of your small & medium sized business clients.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Business Center & Store
                            <div class="tooltip-container"><strong>Business Center & Store</strong>
                                <p>Portal for your local business clients, featuring your agency’s branding. They can
                                    access the products purchased from your Marketplace.</p>
                            </div>
                        </li>
                        <li class="price-card--features--item has-tooltip">Tech support (limited)
                            <div class="tooltip-container"><strong>Tech support (limited)</strong>
                                <p>Email and Web Chat support, <br />9am-9pm EST Mon-Fri, <br />2pm-7pm EST Sat-Sun</p>
                            </div>
                        </li>

                        <li class="price-card--features--item has-tooltip tooltip-disabled features-disabled">Partner
                            Success Manager
                            <div class="tooltip-container"><strong>Partner Success Manager</strong>
                                <p>One-on-one with a Vendasta Success Manager, who will provide sales training so you
                                    reach your goals quickly.</p>
                            </div>
                        </li>

                    </ul>
                    <button class="btn">Get started</button>
                </div>

                <div class="price-card--mobile-features-toggle"></div>

            </div>
            <!-- End of Card -->

        </div>
        <!--    end of pricing-cards -->


    </section>
</body>

</html>